*
!.clang-format
!api/
!api/**
!api_codegen/
!api_codegen/**
!cmake/
!cmake/**
!examples/
!examples/**
!include/
!include/**
!src/
!src/**
!tests/
!tests/**
!CMakeLists.txt
!conanfile.py
!coverage_summary.py
!Makefile
!poetry.lock
!pyproject.toml
