openapi: 3.0.0
info:
  title: "Telegram Bot API"
  version: "10.2"
  description: |-
    This OpenAPI specification was generated using the [tgbotspec](https://github.com/metalagman/tgbotspec) tool.
servers:
  - url: "https://api.telegram.org/bot{botToken}"
    description: Telegram Bot API endpoint; substitute {botToken} with your bot token.
    variables:
      botToken:
        description: Telegram bot token obtained from BotFather.
        default: "<bot_token>"
security:
  - TelegramBotToken: []
paths:
  /addStickerToSet:
    post:
      operationId: addStickerToSet
      tags:
        - Stickers
      description: |-
        Use this method to add a new sticker to a set created by the bot. Emoji sticker sets can have up to 200 stickers. Other sticker sets can have up to 120 stickers. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Sticker set name
                sticker:
                  description: A JSON-serialized object with information about the added sticker. If exactly the same sticker had already been added to the set, then the set isn't changed.
                  allOf:
                      - $ref: '#/components/schemas/InputSticker'
                user_id:
                  type: integer
                  description: User identifier of sticker set owner
              required:
                - name
                - sticker
                - user_id
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Sticker set name
                sticker:
                  type: string
                  description: A JSON-serialized object with information about the added sticker. If exactly the same sticker had already been added to the set, then the set isn't changed.
                user_id:
                  type: integer
                  description: User identifier of sticker set owner
              required:
                - name
                - sticker
                - user_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /answerCallbackQuery:
    post:
      operationId: answerCallbackQuery
      tags:
        - Available methods
      description: |-
        Use this method to send answers to callback queries sent from inline keyboards. The answer will be displayed to the user as a notification at the top of the chat screen or as an alert. On success, True is returned.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cache_time:
                  type: integer
                  description: The maximum amount of time in seconds that the result of the callback query may be cached client-side. Telegram apps will support caching starting in version 3.14. Defaults to 0.
                callback_query_id:
                  type: string
                  description: Unique identifier for the query to be answered
                show_alert:
                  type: boolean
                  description: If True, an alert will be shown by the client instead of a notification at the top of the chat screen. Defaults to False.
                text:
                  type: string
                  description: Text of the notification. If not specified, nothing will be shown to the user, 0-200 characters.
                url:
                  type: string
                  description: URL that will be opened by the user's client. If you have created a Game and accepted the conditions via @BotFather, specify the URL that opens your game - note that this will only work if the query comes from a callback_game button.Otherwise, you may use links like t.me/your_bot?start=XXXX that open your bot with a parameter.
              required:
                - callback_query_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /answerChatJoinRequestQuery:
    post:
      operationId: answerChatJoinRequestQuery
      tags:
        - Available methods
      description: |-
        Use this method to process a received chat join request query. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_join_request_query_id:
                  type: string
                  description: Unique identifier of the join request query
                result:
                  type: string
                  description: Result of the query. Must be either “approve” to allow the user to join the chat, “decline” to disallow the user to join the chat, or “queue” to leave the decision to other administrators.
              required:
                - chat_join_request_query_id
                - result
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /answerGuestQuery:
    post:
      operationId: answerGuestQuery
      tags:
        - Available methods
      description: |-
        Use this method to reply to a received guest message. On success, a SentGuestMessage object is returned.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                guest_query_id:
                  type: string
                  description: Unique identifier for the query to be answered
                result:
                  description: A JSON-serialized object describing the message to be sent
                  allOf:
                      - $ref: '#/components/schemas/InlineQueryResult'
              required:
                - guest_query_id
                - result
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/SentGuestMessage'
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /answerInlineQuery:
    post:
      operationId: answerInlineQuery
      tags:
        - Inline mode
      description: |-
        Use this method to send answers to an inline query. On success, True is returned.No more than 50 results per query are allowed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                button:
                  description: A JSON-serialized object describing a button to be shown above inline query results
                  allOf:
                      - $ref: '#/components/schemas/InlineQueryResultsButton'
                cache_time:
                  type: integer
                  description: The maximum amount of time in seconds that the result of the inline query may be cached on the server. Defaults to 300.
                inline_query_id:
                  type: string
                  description: Unique identifier for the answered query
                is_personal:
                  type: boolean
                  description: Pass True if results may be cached on the server side only for the user that sent the query. By default, results may be returned to any user who sends the same query.
                next_offset:
                  type: string
                  description: Pass the offset that a client should send in the next query with the same text to receive more results. Pass an empty string if there are no more results or if you don't support pagination. Offset length can't exceed 64 bytes.
                results:
                  type: array
                  description: A JSON-serialized Array of results for the inline query
                  items:
                      $ref: '#/components/schemas/InlineQueryResult'
              required:
                - inline_query_id
                - results
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /answerPreCheckoutQuery:
    post:
      operationId: answerPreCheckoutQuery
      tags:
        - Payments
      description: |-
        Once the user has confirmed their payment and shipping details, the Bot API sends the final confirmation in the form of an Update with the field pre_checkout_query. Use this method to respond to such pre-checkout queries. On success, True is returned. Note: The Bot API must receive an answer within 10 seconds after the pre-checkout query was sent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                error_message:
                  type: string
                  description: Required if ok is False. Error message in human readable form that explains the reason for failure to proceed with the checkout (e.g. "Sorry, somebody just bought the last of our amazing black T-shirts while you were busy filling out your payment details. Please choose a different color or garment!"). Telegram will display this message to the user.
                ok:
                  type: boolean
                  description: Specify True if everything is alright (goods are available, etc.) and the bot is ready to proceed with the order. Use False if there are any problems.
                pre_checkout_query_id:
                  type: string
                  description: Unique identifier for the query to be answered
              required:
                - ok
                - pre_checkout_query_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /answerShippingQuery:
    post:
      operationId: answerShippingQuery
      tags:
        - Payments
      description: |-
        If you sent an invoice requesting a shipping address and the parameter is_flexible was specified, the Bot API will send an Update with a shipping_query field to the bot. Use this method to reply to shipping queries. On success, True is returned.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                error_message:
                  type: string
                  description: Required if ok is False. Error message in human readable form that explains why it is impossible to complete the order (e.g. “Sorry, delivery to your desired address is unavailable”). Telegram will display this message to the user.
                ok:
                  type: boolean
                  description: Pass True if delivery to the specified address is possible and False if there are any problems (for example, if delivery to the specified address is not possible)
                shipping_options:
                  type: array
                  description: Required if ok is True. A JSON-serialized Array of available shipping options.
                  items:
                      $ref: '#/components/schemas/ShippingOption'
                shipping_query_id:
                  type: string
                  description: Unique identifier for the query to be answered
              required:
                - ok
                - shipping_query_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /answerWebAppQuery:
    post:
      operationId: answerWebAppQuery
      tags:
        - Available methods
      description: |-
        Use this method to set the result of an interaction with a Web App and send a corresponding message on behalf of the user to the chat from which the query originated. On success, a SentWebAppMessage object is returned.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                result:
                  description: A JSON-serialized object describing the message to be sent
                  allOf:
                      - $ref: '#/components/schemas/InlineQueryResult'
                web_app_query_id:
                  type: string
                  description: Unique identifier for the query to be answered
              required:
                - result
                - web_app_query_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/SentWebAppMessage'
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /approveChatJoinRequest:
    post:
      operationId: approveChatJoinRequest
      tags:
        - Available methods
      description: |-
        Use this method to approve a chat join request. The bot must be an administrator in the chat for this to work and must have the can_invite_users administrator right. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                  format: int64
                  description: Unique identifier for the target chat or username of the target channel in the format @username
                user_id:
                  type: integer
                  description: Unique identifier of the target user
              required:
                - chat_id
                - user_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /approveSuggestedPost:
    post:
      operationId: approveSuggestedPost
      tags:
        - Updating messages
      description: |-
        Use this method to approve a suggested post in a direct messages chat. The bot must have the 'can_post_messages' administrator right in the corresponding channel chat. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                  format: int64
                  description: Unique identifier for the target direct messages chat
                message_id:
                  type: integer
                  description: Identifier of a suggested post message to approve
                send_date:
                  type: integer
                  description: Point in time (Unix timestamp) when the post is expected to be published; omit if the date has already been specified when the suggested post was created. If specified, then the date must be not more than 2678400 seconds (30 days) in the future.
              required:
                - chat_id
                - message_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /banChatMember:
    post:
      operationId: banChatMember
      tags:
        - Available methods
      description: |-
        Use this method to ban a user in a group, a supergroup or a channel. In the case of supergroups and channels, the user will not be able to return to the chat on their own using invite links, etc., unless unbanned first. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                  format: int64
                  description: Unique identifier for the target group or username of the target supergroup or channel in the format @username
                revoke_messages:
                  type: boolean
                  description: Pass True to delete all messages from the chat for the user that is being removed. If False, the user will be able to see messages in the group that were sent before the user was removed. Always True for supergroups and channels.
                until_date:
                  type: integer
                  description: Date when the user will be unbanned; Unix time. If user is banned for more than 366 days or less than 30 seconds from the current time they are considered to be banned forever. Applied for supergroups and channels only.
                user_id:
                  type: integer
                  description: Unique identifier of the target user
              required:
                - chat_id
                - user_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /banChatSenderChat:
    post:
      operationId: banChatSenderChat
      tags:
        - Available methods
      description: |-
        Use this method to ban a channel chat in a supergroup or a channel. Until the chat is unbanned, the owner of the banned chat won't be able to send messages on behalf of any of their channels. The bot must be an administrator in the supergroup or channel for this to work and must have the appropriate administrator rights. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                  format: int64
                  description: Unique identifier for the target chat or username of the target channel in the format @username
                sender_chat_id:
                  type: integer
                  format: int64
                  description: Unique identifier of the target sender chat
              required:
                - chat_id
                - sender_chat_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /close:
    post:
      operationId: close
      tags:
        - Available methods
      description: |-
        Use this method to close the bot instance before moving it from one local server to another. You need to delete the webhook before calling this method to ensure that the bot isn't launched again after server restart. The method will return error 429 in the first 10 minutes after the bot is launched. Returns True on success. Requires no parameters.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /closeForumTopic:
    post:
      operationId: closeForumTopic
      tags:
        - Available methods
      description: |-
        Use this method to close an open topic in a forum supergroup chat. The bot must be an administrator in the chat for this to work and must have the can_manage_topics administrator rights, unless it is the creator of the topic. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                  format: int64
                  description: Unique identifier for the target chat or username of the target supergroup in the format @username
                message_thread_id:
                  type: integer
                  description: Unique identifier for the target message thread of the forum topic
              required:
                - chat_id
                - message_thread_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /closeGeneralForumTopic:
    post:
      operationId: closeGeneralForumTopic
      tags:
        - Available methods
      description: |-
        Use this method to close an open 'General' topic in a forum supergroup chat. The bot must be an administrator in the chat for this to work and must have the can_manage_topics administrator rights. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                  format: int64
                  description: Unique identifier for the target chat or username of the target supergroup in the format @username
              required:
                - chat_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /convertGiftToStars:
    post:
      operationId: convertGiftToStars
      tags:
        - Available methods
      description: |-
        Converts a given regular gift to Telegram Stars. Requires the can_convert_gifts_to_stars business bot right. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                business_connection_id:
                  type: string
                  description: Unique identifier of the business connection
                owned_gift_id:
                  type: string
                  description: Unique identifier of the regular gift that should be converted to Telegram Stars
              required:
                - business_connection_id
                - owned_gift_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /copyMessage:
    post:
      operationId: copyMessage
      tags:
        - Available methods
      description: |-
        Use this method to copy messages of any kind. Service messages, paid media messages, giveaway messages, giveaway winners messages, and invoice messages can't be copied. A quiz poll can be copied only if the value of the field correct_option_ids is known to the bot. The method is analogous to the method forwardMessage, but the copied message doesn't have a link to the original message. Returns the MessageId of the sent message on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                allow_paid_broadcast:
                  type: boolean
                  description: Pass True to allow up to 1000 messages per second, ignoring broadcasting limits for a fee of 0.1 Telegram Stars per message. The relevant Stars will be withdrawn from the bot's balance.
                caption:
                  type: string
                  description: New caption for media, 0-1024 characters after entities parsing. If not specified, the original caption is kept.
                caption_entities:
                  type: array
                  description: A JSON-serialized list of special entities that appear in the new caption, which can be specified instead of parse_mode
                  items:
                      $ref: '#/components/schemas/MessageEntity'
                chat_id:
                  type: integer
                  format: int64
                  description: Unique identifier for the target chat or username of the target bot, supergroup or channel in the format @username
                direct_messages_topic_id:
                  type: integer
                  description: Identifier of the direct messages topic to which the message will be sent; required if the message is sent to a direct messages chat
                disable_notification:
                  type: boolean
                  description: Sends the message silently. Users will receive a notification with no sound.
                from_chat_id:
                  type: integer
                  format: int64
                  description: Unique identifier for the chat where the original message was sent (or username of the target bot, supergroup or channel in the format @username)
                message_effect_id:
                  type: string
                  description: Unique identifier of the message effect to be added to the message; only available when copying to private chats
                message_id:
                  type: integer
                  description: Message identifier in the chat specified in from_chat_id
                message_thread_id:
                  type: integer
                  description: Unique identifier for the target message thread (topic) of a forum; for forum supergroups and private chats of bots with forum topic mode enabled only
                parse_mode:
                  type: string
                  description: Mode for parsing entities in the new caption. See formatting options for more details.
                protect_content:
                  type: boolean
                  description: Protects the contents of the sent message from forwarding and saving
                reply_markup:
                  description: Additional interface options. A JSON-serialized object for an inline keyboard, custom reply keyboard, instructions to remove a reply keyboard or to force a reply from the user.
                  oneOf:
                      - $ref: '#/components/schemas/InlineKeyboardMarkup'
                      - $ref: '#/components/schemas/ReplyKeyboardMarkup'
                      - $ref: '#/components/schemas/ReplyKeyboardRemove'
                      - $ref: '#/components/schemas/ForceReply'
                reply_parameters:
                  description: Description of the message to reply to
                  allOf:
                      - $ref: '#/components/schemas/ReplyParameters'
                show_caption_above_media:
                  type: boolean
                  description: Pass True if the caption must be shown above the message media. Ignored if a new caption isn't specified.
                suggested_post_parameters:
                  description: A JSON-serialized object containing the parameters of the suggested post to send; for direct messages chats only. If the message is sent as a reply to another suggested post, then that suggested post is automatically declined.
                  allOf:
                      - $ref: '#/components/schemas/SuggestedPostParameters'
                video_start_timestamp:
                  type: integer
                  description: New start timestamp for the copied video in the message
              required:
                - chat_id
                - from_chat_id
                - message_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/MessageId'
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /copyMessages:
    post:
      operationId: copyMessages
      tags:
        - Available methods
      description: |-
        Use this method to copy messages of any kind. If some of the specified messages can't be found or copied, they are skipped. Service messages, paid media messages, giveaway messages, giveaway winners messages, and invoice messages can't be copied. A quiz poll can be copied only if the value of the field correct_option_ids is known to the bot. The method is analogous to the method forwardMessages, but the copied messages don't have a link to the original message. Album grouping is kept for copied messages. On success, an Array of MessageId of the sent messages is returned.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                  format: int64
                  description: Unique identifier for the target chat or username of the target bot, supergroup or channel in the format @username
                direct_messages_topic_id:
                  type: integer
                  description: Identifier of the direct messages topic to which the messages will be sent; required if the messages are sent to a direct messages chat
                disable_notification:
                  type: boolean
                  description: Sends the messages silently. Users will receive a notification with no sound.
                from_chat_id:
                  type: integer
                  format: int64
                  description: Unique identifier for the chat where the original messages were sent (or username of the target bot, supergroup or channel in the format @username)
                message_ids:
                  type: array
                  description: A JSON-serialized list of 1-100 identifiers of messages in the chat from_chat_id to copy. The identifiers must be specified in a strictly increasing order.
                  items:
                      type: integer
                message_thread_id:
                  type: integer
                  description: Unique identifier for the target message thread (topic) of a forum; for forum supergroups and private chats of bots with forum topic mode enabled only
                protect_content:
                  type: boolean
                  description: Protects the contents of the sent messages from forwarding and saving
                remove_caption:
                  type: boolean
                  description: Pass True to copy the messages without their captions
              required:
                - chat_id
                - from_chat_id
                - message_ids
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: array
                        items:
                            $ref: '#/components/schemas/MessageId'
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /createChatInviteLink:
    post:
      operationId: createChatInviteLink
      tags:
        - Available methods
      description: |-
        Use this method to create an additional invite link for a chat. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. The link can be revoked using the method revokeChatInviteLink. Returns the new invite link as ChatInviteLink object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                  format: int64
                  description: Unique identifier for the target chat or username of the target channel in the format @username
                creates_join_request:
                  type: boolean
                  description: True, if users joining the chat via the link need to be approved by chat administrators. If True, member_limit can't be specified.
                expire_date:
                  type: integer
                  description: Point in time (Unix timestamp) when the link will expire
                member_limit:
                  type: integer
                  description: The maximum number of users that can be members of the chat simultaneously after joining the chat via this invite link; 1-99999
                name:
                  type: string
                  description: Invite link name; 0-32 characters
              required:
                - chat_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/ChatInviteLink'
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /createChatSubscriptionInviteLink:
    post:
      operationId: createChatSubscriptionInviteLink
      tags:
        - Available methods
      description: |-
        Use this method to create a subscription invite link for a channel chat. The bot must have the can_invite_users administrator rights. The link can be edited using the method editChatSubscriptionInviteLink or revoked using the method revokeChatInviteLink. Returns the new invite link as a ChatInviteLink object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                  format: int64
                  description: Unique identifier for the target channel chat or username of the target channel in the format @username
                name:
                  type: string
                  description: Invite link name; 0-32 characters
                subscription_period:
                  type: integer
                  description: The number of seconds the subscription will be active for before the next payment. Currently, it must always be 2592000 (30 days).
                subscription_price:
                  type: integer
                  description: The amount of Telegram Stars a user must pay initially and after each subsequent subscription period to be a member of the chat; 1-10000
              required:
                - chat_id
                - subscription_period
                - subscription_price
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/ChatInviteLink'
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /createForumTopic:
    post:
      operationId: createForumTopic
      tags:
        - Available methods
      description: |-
        Use this method to create a topic in a forum supergroup chat or a private chat with a user. In the case of a supergroup chat the bot must be an administrator in the chat for this to work and must have the can_manage_topics administrator right. Returns information about the created topic as a ForumTopic object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                  format: int64
                  description: Unique identifier for the target chat or username of the target supergroup in the format @username
                icon_color:
                  type: integer
                  description: Color of the topic icon in RGB format. Currently, must be one of 7322096 (0x6FB9F0), 16766590 (0xFFD67E), 13338331 (0xCB86DB), 9367192 (0x8EEE98), 16749490 (0xFF93B2), or 16478047 (0xFB6F5F).
                icon_custom_emoji_id:
                  type: string
                  description: Unique identifier of the custom emoji shown as the topic icon. Use getForumTopicIconStickers to get all allowed custom emoji identifiers.
                name:
                  type: string
                  description: Topic name, 1-128 characters
              required:
                - chat_id
                - name
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/ForumTopic'
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /createInvoiceLink:
    post:
      operationId: createInvoiceLink
      tags:
        - Payments
      description: |-
        Use this method to create a link for an invoice. Returns the created invoice link as String on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                business_connection_id:
                  type: string
                  description: Unique identifier of the business connection on behalf of which the link will be created. For payments in Telegram Stars only.
                currency:
                  type: string
                  description: Three-letter ISO 4217 currency code, see more on currencies. Pass “XTR” for payments in Telegram Stars.
                description:
                  type: string
                  description: Product description, 1-255 characters
                is_flexible:
                  type: boolean
                  description: Pass True if the final price depends on the shipping method. Ignored for payments in Telegram Stars.
                max_tip_amount:
                  type: integer
                  description: The maximum accepted amount for tips in the smallest units of the currency (integer, not float/double). For example, for a maximum tip of US$ 1.45 pass max_tip_amount = 145. See the exp parameter in currencies.json, it shows the number of digits past the decimal point for each currency (2 for the majority of currencies). Defaults to 0. Not supported for payments in Telegram Stars.
                need_email:
                  type: boolean
                  description: Pass True if you require the user's email address to complete the order. Ignored for payments in Telegram Stars.
                need_name:
                  type: boolean
                  description: Pass True if you require the user's full name to complete the order. Ignored for payments in Telegram Stars.
                need_phone_number:
                  type: boolean
                  description: Pass True if you require the user's phone number to complete the order. Ignored for payments in Telegram Stars.
                need_shipping_address:
                  type: boolean
                  description: Pass True if you require the user's shipping address to complete the order. Ignored for payments in Telegram Stars.
                payload:
                  type: string
                  description: Bot-defined invoice payload, 1-128 bytes. This will not be displayed to the user, use it for your internal processes.
                photo_height:
                  type: integer
                  description: Photo height
                photo_size:
                  type: integer
                  description: Photo size in bytes
                photo_url:
                  type: string
                  description: URL of the product photo for the invoice. Can be a photo of the goods or a marketing image for a service.
                photo_width:
                  type: integer
                  description: Photo width
                prices:
                  type: array
                  description: Price breakdown, a JSON-serialized list of components (e.g. product price, tax, discount, delivery cost, delivery tax, bonus, etc.). Must contain exactly one item for payments in Telegram Stars.
                  items:
                      $ref: '#/components/schemas/LabeledPrice'
                provider_data:
                  type: string
                  description: JSON-serialized data about the invoice, which will be shared with the payment provider. A detailed description of required fields should be provided by the payment provider.
                provider_token:
                  type: string
                  description: Payment provider token, obtained via @BotFather. Pass an empty string for payments in Telegram Stars.
                send_email_to_provider:
                  type: boolean
                  description: Pass True if the user's email address should be sent to the provider. Ignored for payments in Telegram Stars.
                send_phone_number_to_provider:
                  type: boolean
                  description: Pass True if the user's phone number should be sent to the provider. Ignored for payments in Telegram Stars.
                subscription_period:
                  type: integer
                  description: The number of seconds the subscription will be active for before the next payment. The currency must be set to “XTR” (Telegram Stars) if the parameter is used. Currently, it must always be 2592000 (30 days) if specified. Any number of subscriptions can be active for a given bot at the same time, including multiple concurrent subscriptions from the same user. Subscription price must no exceed 10000 Telegram Stars.
                suggested_tip_amounts:
                  type: array
                  description: A JSON-serialized Array of suggested amounts of tips in the smallest units of the currency (integer, not float/double). At most 4 suggested tip amounts can be specified. The suggested tip amounts must be positive, passed in a strictly increased order and must not exceed max_tip_amount.
                  items:
                      type: integer
                title:
                  type: string
                  description: Product name, 1-32 characters
              required:
                - currency
                - description
                - payload
                - prices
                - title
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: string
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /createNewStickerSet:
    post:
      operationId: createNewStickerSet
      tags:
        - Stickers
      description: |-
        Use this method to create a new sticker set owned by a user. The bot will be able to edit the sticker set thus created. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Short name of sticker set, to be used in t.me/addstickers/ URLs (e.g., animals). Can contain only English letters, digits and underscores. Must begin with a letter, can't contain consecutive underscores and must end in "_by_<bot_username>". <bot_username> is case insensitive. 1-64 characters.
                needs_repainting:
                  type: boolean
                  description: Pass True if stickers in the sticker set must be repainted to the color of text when used in messages, the accent color if used as emoji status, white on chat photos, or another appropriate color based on context; for custom emoji sticker sets only
                sticker_type:
                  type: string
                  description: Type of stickers in the set, pass “regular”, “mask”, or “custom_emoji”. By default, a regular sticker set is created.
                stickers:
                  type: array
                  description: A JSON-serialized list of 1-50 initial stickers to be added to the sticker set
                  items:
                      $ref: '#/components/schemas/InputSticker'
                title:
                  type: string
                  description: Sticker set title, 1-64 characters
                user_id:
                  type: integer
                  description: User identifier of created sticker set owner
              required:
                - name
                - stickers
                - title
                - user_id
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Short name of sticker set, to be used in t.me/addstickers/ URLs (e.g., animals). Can contain only English letters, digits and underscores. Must begin with a letter, can't contain consecutive underscores and must end in "_by_<bot_username>". <bot_username> is case insensitive. 1-64 characters.
                needs_repainting:
                  type: boolean
                  description: Pass True if stickers in the sticker set must be repainted to the color of text when used in messages, the accent color if used as emoji status, white on chat photos, or another appropriate color based on context; for custom emoji sticker sets only
                sticker_type:
                  type: string
                  description: Type of stickers in the set, pass “regular”, “mask”, or “custom_emoji”. By default, a regular sticker set is created.
                stickers:
                  type: string
                  description: A JSON-serialized list of 1-50 initial stickers to be added to the sticker set
                title:
                  type: string
                  description: Sticker set title, 1-64 characters
                user_id:
                  type: integer
                  description: User identifier of created sticker set owner
              required:
                - name
                - stickers
                - title
                - user_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /declineChatJoinRequest:
    post:
      operationId: declineChatJoinRequest
      tags:
        - Available methods
      description: |-
        Use this method to decline a chat join request. The bot must be an administrator in the chat for this to work and must have the can_invite_users administrator right. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                  format: int64
                  description: Unique identifier for the target chat or username of the target channel in the format @username
                user_id:
                  type: integer
                  description: Unique identifier of the target user
              required:
                - chat_id
                - user_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /declineSuggestedPost:
    post:
      operationId: declineSuggestedPost
      tags:
        - Updating messages
      description: |-
        Use this method to decline a suggested post in a direct messages chat. The bot must have the 'can_manage_direct_messages' administrator right in the corresponding channel chat. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                  format: int64
                  description: Unique identifier for the target direct messages chat
                comment:
                  type: string
                  description: Comment for the creator of the suggested post; 0-128 characters
                message_id:
                  type: integer
                  description: Identifier of a suggested post message to decline
              required:
                - chat_id
                - message_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deleteAllMessageReactions:
    post:
      operationId: deleteAllMessageReactions
      tags:
        - Updating messages
      description: |-
        Use this method to remove up to 10000 recent reactions in a group or a supergroup chat added by a given user or chat. The bot must have the 'can_delete_messages' administrator right in the chat. Returns True on success.
        The following methods and objects allow your bot to handle stickers and sticker sets.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                actor_chat_id:
                  type: integer
                  format: int64
                  description: Identifier of the chat whose reactions will be removed, if the reactions were added by a chat
                chat_id:
                  type: integer
                  format: int64
                  description: Unique identifier for the target chat or username of the target supergroup in the format @username
                user_id:
                  type: integer
                  description: Identifier of the user whose reactions will be removed, if the reactions were added by a user
              required:
                - chat_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deleteBusinessMessages:
    post:
      operationId: deleteBusinessMessages
      tags:
        - Available methods
      description: |-
        Delete messages on behalf of a business account. Requires the can_delete_sent_messages business bot right to delete messages sent by the bot itself, or the can_delete_all_messages business bot right to delete any message. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                business_connection_id:
                  type: string
                  description: Unique identifier of the business connection on behalf of which to delete the messages
                message_ids:
                  type: array
                  description: A JSON-serialized list of 1-100 identifiers of messages to delete. All messages must be from the same chat. See deleteMessage for limitations on which messages can be deleted.
                  items:
                      type: integer
              required:
                - business_connection_id
                - message_ids
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deleteChatPhoto:
    post:
      operationId: deleteChatPhoto
      tags:
        - Available methods
      description: |-
        Use this method to delete a chat photo. Photos can't be changed for private chats. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                  format: int64
                  description: Unique identifier for the target chat or username of the target channel in the format @username
              required:
                - chat_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deleteChatStickerSet:
    post:
      operationId: deleteChatStickerSet
      tags:
        - Available methods
      description: |-
        Use this method to delete a group sticker set from a supergroup. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. Use the field can_set_sticker_set optionally returned in getChat requests to check if the bot can use this method. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                  format: int64
                  description: Unique identifier for the target chat or username of the target supergroup in the format @username
              required:
                - chat_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deleteEphemeralMessage:
    post:
      operationId: deleteEphemeralMessage
      tags:
        - Updating messages
      description: |-
        Use this method to delete an ephemeral message. Note that it is not guaranteed that the user will receive the message deletion event, especially if they are offline. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                  format: int64
                  description: Unique identifier for the target chat or username of the target supergroup in the format @username
                ephemeral_message_id:
                  type: integer
                  description: Identifier of the ephemeral message to delete
                receiver_user_id:
                  type: integer
                  description: Identifier of the user who received the message
              required:
                - chat_id
                - ephemeral_message_id
                - receiver_user_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deleteForumTopic:
    post:
      operationId: deleteForumTopic
      tags:
        - Available methods
      description: |-
        Use this method to delete a forum topic along with all its messages in a forum supergroup chat or a private chat with a user. In the case of a supergroup chat the bot must be an administrator in the chat for this to work and must have the can_delete_messages administrator rights. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                  format: int64
                  description: Unique identifier for the target chat or username of the target supergroup in the format @username
                message_thread_id:
                  type: integer
                  description: Unique identifier for the target message thread of the forum topic
              required:
                - chat_id
                - message_thread_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deleteMessage:
    post:
      operationId: deleteMessage
      tags:
        - Updating messages
      description: |-
        Use this method to delete a message, including service messages, with the following limitations:- A message can only be deleted if it was sent less than 48 hours ago.- Service messages about a supergroup, channel, or forum topic creation can't be deleted.- A dice message in a private chat can only be deleted if it was sent more than 24 hours ago.- Bots can delete outgoing messages in private chats, groups, and supergroups.- Bots can delete incoming messages in private chats.- Bots granted can_post_messages permissions can delete outgoing messages in channels.- If the bot is an administrator of a group, it can delete any message there.- If the bot has can_delete_messages administrator right in a supergroup or a channel, it can delete any message there.- If the bot has can_manage_direct_messages administrator right in a channel, it can delete any message in the corresponding direct messages chat.Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                  format: int64
                  description: Unique identifier for the target chat or username of the target bot, supergroup or channel in the format @username
                message_id:
                  type: integer
                  description: Identifier of the message to delete
              required:
                - chat_id
                - message_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deleteMessageReaction:
    post:
      operationId: deleteMessageReaction
      tags:
        - Updating messages
      description: |-
        Use this method to remove a reaction from a message in a group or a supergroup chat. The bot must have the 'can_delete_messages' administrator right in the chat. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                actor_chat_id:
                  type: integer
                  format: int64
                  description: Identifier of the chat whose reaction will be removed, if the reaction was added by a chat
                chat_id:
                  type: integer
                  format: int64
                  description: Unique identifier for the target chat or username of the target supergroup in the format @username
                message_id:
                  type: integer
                  description: Identifier of the target message
                user_id:
                  type: integer
                  description: Identifier of the user whose reaction will be removed, if the reaction was added by a user
              required:
                - chat_id
                - message_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deleteMessages:
    post:
      operationId: deleteMessages
      tags:
        - Updating messages
      description: |-
        Use this method to delete multiple messages simultaneously. If some of the specified messages can't be found, they are skipped. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                  format: int64
                  description: Unique identifier for the target chat or username of the target bot, supergroup or channel in the format @username
                message_ids:
                  type: array
                  description: A JSON-serialized list of 1-100 identifiers of messages to delete. See deleteMessage for limitations on which messages can be deleted.
                  items:
                      type: integer
              required:
                - chat_id
                - message_ids
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deleteMyCommands:
    post:
      operationId: deleteMyCommands
      tags:
        - Available methods
      description: |-
        Use this method to delete the list of the bot's commands for the given scope and user language. After deletion, higher level commands will be shown to affected users. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                language_code:
                  type: string
                  description: A two-letter ISO 639-1 language code. If empty, commands will be applied to all users from the given scope, for whose language there are no dedicated commands.
                scope:
                  description: A JSON-serialized object, describing scope of users for which the commands are relevant. Defaults to BotCommandScopeDefault.
                  allOf:
                      - $ref: '#/components/schemas/BotCommandScope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deleteStickerFromSet:
    post:
      operationId: deleteStickerFromSet
      tags:
        - Stickers
      description: |-
        Use this method to delete a sticker from a set created by the bot. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sticker:
                  type: string
                  description: File identifier of the sticker
              required:
                - sticker
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deleteStickerSet:
    post:
      operationId: deleteStickerSet
      tags:
        - Stickers
      description: |-
        Use this method to delete a sticker set that was created by the bot. Returns True on success.
        The following methods and objects allow your bot to handle and send rich messages.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Sticker set name
              required:
                - name
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deleteStory:
    post:
      operationId: deleteStory
      tags:
        - Available methods
      description: |-
        Deletes a story previously posted by the bot on behalf of a managed business account. Requires the can_manage_stories business bot right. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                business_connection_id:
                  type: string
                  description: Unique identifier of the business connection
                story_id:
                  type: integer
                  description: Unique identifier of the story to delete
              required:
                - business_connection_id
                - story_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deleteWebhook:
    post:
      operationId: deleteWebhook
      tags:
        - Getting updates
      description: |-
        Use this method to remove webhook integration if you decide to switch back to getUpdates. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                drop_pending_updates:
                  type: boolean
                  description: Pass True to drop all pending updates
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /editChatInviteLink:
    post:
      operationId: editChatInviteLink
      tags:
        - Available methods
      description: |-
        Use this method to edit a non-primary invite link created by the bot. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. Returns the edited invite link as a ChatInviteLink object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                  format: int64
                  description: Unique identifier for the target chat or username of the target channel in the format @username
                creates_join_request:
                  type: boolean
                  description: True, if users joining the chat via the link need to be approved by chat administrators. If True, member_limit can't be specified.
                expire_date:
                  type: integer
                  description: Point in time (Unix timestamp) when the link will expire
                invite_link:
                  type: string
                  description: The invite link to edit
                member_limit:
                  type: integer
                  description: The maximum number of users that can be members of the chat simultaneously after joining the chat via this invite link; 1-99999
                name:
                  type: string
                  description: Invite link name; 0-32 characters
              required:
                - chat_id
                - invite_link
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/ChatInviteLink'
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /editChatSubscriptionInviteLink:
    post:
      operationId: editChatSubscriptionInviteLink
      tags:
        - Available methods
      description: |-
        Use this method to edit a subscription invite link created by the bot. The bot must have the can_invite_users administrator rights. Returns the edited invite link as a ChatInviteLink object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                  format: int64
                  description: Unique identifier for the target chat or username of the target channel in the format @username
                invite_link:
                  type: string
                  description: The invite link to edit
                name:
                  type: string
                  description: Invite link name; 0-32 characters
              required:
                - chat_id
                - invite_link
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/ChatInviteLink'
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /editEphemeralMessageCaption:
    post:
      operationId: editEphemeralMessageCaption
      tags:
        - Updating messages
      description: |-
        Use this method to edit the caption of an ephemeral message. Note that it is not guaranteed that the user will receive the message edit event, especially if they are offline. On success, True is returned.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                caption:
                  type: string
                  description: New caption of the message, 0-1024 characters after entities parsing
                caption_entities:
                  type: array
                  description: A JSON-serialized list of special entities that appear in the caption, which can be specified instead of parse_mode
                  items:
                      $ref: '#/components/schemas/MessageEntity'
                chat_id:
                  type: integer
                  format: int64
                  description: Unique identifier for the target chat or username of the target supergroup in the format @username
                ephemeral_message_id:
                  type: integer
                  description: Identifier of the ephemeral message to edit
                parse_mode:
                  type: string
                  description: Mode for parsing entities in the message caption. See formatting options for more details.
                receiver_user_id:
                  type: integer
                  description: Identifier of the user who received the message
                reply_markup:
                  description: A JSON-serialized object for an inline keyboard
                  allOf:
                      - $ref: '#/components/schemas/InlineKeyboardMarkup'
              required:
                - chat_id
                - ephemeral_message_id
                - receiver_user_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /editEphemeralMessageMedia:
    post:
      operationId: editEphemeralMessageMedia
      tags:
        - Updating messages
      description: |-
        Use this method to edit the media of an ephemeral message. Note that it is not guaranteed that the user will receive the message edit event, especially if they are offline. On success, True is returned.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                  format: int64
                  description: Unique identifier for the target chat or username of the target supergroup in the format @username
                ephemeral_message_id:
                  type: integer
                  description: Identifier of the ephemeral message to edit
                media:
                  description: A JSON-serialized object for the new media content of the message. A new file can't be uploaded; use a previously uploaded file via its file_id or specify a URL.
                  allOf:
                      - $ref: '#/components/schemas/InputMedia'
                receiver_user_id:
                  type: integer
                  description: Identifier of the user who received the message
                reply_markup:
                  description: A JSON-serialized object for an inline keyboard
                  allOf:
                      - $ref: '#/components/schemas/InlineKeyboardMarkup'
              required:
                - chat_id
                - ephemeral_message_id
                - media
                - receiver_user_id
          multipart/form-data:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                  format: int64
                  description: Unique identifier for the target chat or username of the target supergroup in the format @username
                ephemeral_message_id:
                  type: integer
                  description: Identifier of the ephemeral message to edit
                media:
                  type: string
                  description: A JSON-serialized object for the new media content of the message. A new file can't be uploaded; use a previously uploaded file via its file_id or specify a URL.
                receiver_user_id:
                  type: integer
                  description: Identifier of the user who received the message
                reply_markup:
                  type: string
                  description: A JSON-serialized object for an inline keyboard
              required:
                - chat_id
                - ephemeral_message_id
                - media
                - receiver_user_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /editEphemeralMessageReplyMarkup:
    post:
      operationId: editEphemeralMessageReplyMarkup
      tags:
        - Updating messages
      description: |-
[...]
