name: sw

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macOS-latest]

    steps:
    - uses: actions/checkout@v1
    - uses: egorpugin/sw-action@master

    - name: build
      run: ./sw build

    - name: test
      run: ./sw test
